[Unit]
Description=The Proxmox Monitoring Toolkit 2
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/pmtk2
ExecStart=bash -c 'npm run start'
Restart=on-failure
RestartSec=5
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
